*, *::before, *::after
{
	box-sizing: border-box;
}
*::before, *::after
{
	font-size: 14px !important;
}

.unlocked {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAGZJREFUOE+ljEEOACEIA92f+f9XaQ822EUgajJJC4xtvu+BPnEXFSBff7Bk5N8yw8pgW2aojLwdRHhy+YOTjMzhiUgGDB6ZjMyiVGTAgeV0rB1wqMusL7iIjrVb0mPtypMMGC7k1geoEhcn0OEM6wAAAABJRU5ErkJggg==);
  background-position: bottom right;
  background-repeat: no-repeat;

  /* not fully transparent to make it easier to move */
  background-color: rgba(0, 0, 150, 0.2);
  border: dashed 10px red;
}

html, body
{
	margin: 0;
    font-family: sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}


body.has-overflow-height::after {
    border-bottom: dotted 5px red !important;
}

body.has-overflow-width::after {
    border-right: dotted 5px red !important;
}

body.modal-open::after {
    z-index: 5;
    background-color: #36363680;
    border-radius: 1rem;
}

#settings {
    appearance: none;
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    aspect-ratio: 1;
    border: solid .25rem transparent;
    outline: solid 0 #ffd7d7;
    border-radius: 50%;
    background-color: white;

    padding: .5rem;
    margin: 0;
    transition-duration: .1s;
    transition-timing-function: linear;
    transition-property: background-color, color, border-color, outline-width;
}

body:not(.unlocked) #settings {
    display: none;
}

#settings:hover {
    background-color: #282828;
    color: white;
    border-color: #973636;
    outline-width: .5rem;
    cursor: pointer;
}

.modal-open #settings {

}

.modal {
    position: absolute;
    z-index: 10;
    background-color: #f1f1f1;
    top: 2rem;
    left:0;
    right:0;
    min-height: 50vh;
    max-height: 85vh;
    width: clamp(50vw, 80ch, 50rem);
    margin-inline: auto;
    padding: 2rem 1rem;
    border-radius: 2rem;
    border: solid 1px #737373;
    box-shadow: 0 0.5rem 1rem 0.1rem #000000ab;
}

.modal * {
    user-select: none;
}

body:not(.modal-open) .modal {
    display: none;
}

.modal .modal-title {
    padding-left: 3rem;
}

.modal .modal-body {
    max-height: 70vh;
    overflow: hidden auto;
}

.modal .modal-body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
}

.modal .modal-body::-webkit-scrollbar-track {
    background: #696969;
    border-radius: .5rem;
}

.modal .modal-body::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: .5rem;
}

.modal .modal-body::-webkit-scrollbar-corner {
    background: transparent;
}

.category .category-title {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 2em;
}
.category .category-title::before {
    --size: 2em;
    content: "";
    position: absolute;
    top: calc(var(--size)/-10);
    left: calc(var(--size)/2);
    height: var(--size);
    aspect-ratio: 1;
    border-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: calc(var(--size) / 2 + 1px);
    border-left-width: calc(var(--size)/3*2);
    border-right-width: 0;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: top, transform;
}
.category>.category-title:hover {
    text-decoration: underline;
}

.category.open>.category-title::before {
    top: calc(var(--size)/5);
    transform: rotate(90deg);
}

.category>.category-content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .2s ease-in-out;
}
.category.open>.category-content {
    grid-template-rows: 1fr;
}
.category .category-content>div {
    margin: 0;
    padding: 0 1rem;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    transition: padding .2s ease-in-out;
}
.category .category-content>div.column{
    flex-direction: column;
}
.category.open>.category-content>div {
    padding: 1rem;
}
.category .category-action {
    --image: "";
    position: relative;
    aspect-ratio: 1;
    width: 3rem;

    background-image: var(--image);
    background-size: cover;
}
.category .category-action::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    border-radius: 5px;
    outline: solid .25rem limegreen;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color, outline-color;
}
.category .category-action:not(.active)::after {
    background-color: rgba(0, 0, 0, 0.5);
    outline-color: red;
}

.container
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
}

.action
{
    --_desc-height: 1.5rem;
    --desc-content: "";
    --desc-bg-color: transparent;
    --image: "";
	position: relative;
	
	height: 3rem;
    aspect-ratio: 1;

    margin: 5px 5px calc(var(--_desc-height) + 5px);

    order: 200;

    background-image: var(--image);
    background-size: cover;
    flex: 0 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-family: fantasy;
	color: white;
	-webkit-text-stroke: 2px black;
	font-size: 1.75rem;
    text-align: center;
    white-space: nowrap;
}

.action.active
{
	order: 0;
}

.action.up
{
	order: 100;
}

.action::before
{
	content: var(--desc-content);
	position: absolute;
	top: 100%;

	left: 0;
    right: 0;
	height: var(--_desc-height);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-text-stroke: 0 transparent;
    background-color: var(--desc-bg-color);
    text-align: center;
    white-space: nowrap;
}

.action::after
{
	content: "";
	position: absolute;
    inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
	border-radius: 5px;
}

.action.active::after
{
	background-color: transparent;
	background-image: url(Combo.gif);
}

.action.up::after
{
	background-color: transparent;
}